/* MAIN SELECTORS */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Epilogue', sans-serif;
}


/* NAVBAR */

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 4em;
    max-width: 90vw;
    margin: auto;
}

.container .logo {
    display: flex;
    align-items: center;
}

.navbar .container .main-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 3em;
}

.navbar .main-menu ul {
    display: flex;
    gap: 3em;
    list-style: none;
    align-items: center;
}

.navbar .main-menu ul a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    transition: 0.2s;
}

.navbar .main-menu ul a:hover {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
}

.nav-btn {
    padding: 1em 2em;
    background-color: #FFF;
    color: hsl(0, 0%, 41%);
    border: 1px solid hsl(0, 0%, 41%);
    border-radius: 1em;
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    font-size: 15px;
    transition: 0.2s;
}

.nav-btn:hover {
    padding: 1em 2em;
    background-color: #FFF;
    color: hsl(0, 0%, 0%);
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 1em;
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

/* NAVBAR DROPDOWN MENU */

.dropdown-menu {
    color: hsl(0, 0%, 41%);
    background-color: #FFF;
    border-radius: 0.7em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 160px;
    position: absolute;
    /* margin-top: 1em; */
    padding-top: 1em;
    padding-bottom: 1em;
    display: none;
}

.navbar .main-menu .dropdown-menu ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.navbar .main-menu .dropdown-menu ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.4em;
    margin-right: auto;
    padding-left: 1.2em;
}

.navbar .main-menu ul li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu ul li img {
    width: 15px;
}



/* SUB MENU ICONS */

.icon-menu {
    display: none;
    position: relative;
    z-index: 100;
}

.icon-close {
    display: none;
    position: relative;
    z-index: 100;
}

/* MOBILE MENU */

.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 99;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    list-style: none;
    margin: 10px 0;
}

.mobile-menu ul li a {
    font-size: 18px;
    transition: 0.3s;
    margin-left: 20px;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

.mobile-menu.active {
    right: 0px;
}

.mobile-links ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mobile-links ul li a {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.7em;
}

.mobile-links ul:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mobile-links .nav-btn {
    width: 220px;
}

.mobile-menu ul li .login-mobile {
    margin: auto;
    font-size: 16px;
}


/* HERO SECTION */

.container-md {
    width: 75%;
    margin: auto;
}

.hero-content {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.hero-content h1 {
    font-size: 4em;
}

.hero-content .hero-text {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.hero-content .hero-text p {
    line-height: 1.7em;
    color: hsl(0, 0%, 41%);
}

.hero-content .hero-btn {
    cursor: pointer;
    width: 30%;
    margin-right: auto;
    padding: 1.1em 1em;
    background-color: black;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 1em;
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    font-size: 15px;
    transition: 0.2s;
}

.hero-content .hero-btn:hover {
    width: 30%;
    margin-right: auto;
    padding: 1.1em 1em;
    background-color: #FFF;
    color: black;
    border: 1px solid black;
    border-radius: 1em;
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.hero-content .brands {
    padding-top: 3em;
    display: flex;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
}

.img-desktop {
    max-width: 100%;
}

.img-mobile {
    max-width: 100%;
    display: none;
}



/* MEDIA QUERIES */

@media(max-width:950px) {


    /* NAVBAR */

    .navbar .container .main-menu {
        display: none;
    }

    /* SUB-MENU */

    .icon-menu {
        display: block;
    }

    .container-md {
        width: 90%;
        margin: auto;
    }


    /* HERO SECTION */

    .hero-content {
        display: flex;
        flex-direction: column-reverse;
    }

    /* IMAGES */

    .img-desktop {
        display: none;
    }

}


@media(max-width:450px) {


    /* NAVBAR */

    .navbar .container {
        padding-bottom: 1.8em;
    }

    .navbar .container .main-menu {
        display: none;
    }

    .container-md {
        width: 90%;
        margin: auto;
    }

    /* SUB-MENU */

    .icon-menu {
        display: block;
    }


    /* HERO SECTION */

    .hero-content {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-content h1 {
        font-size: 2.4em;
    }

    .hero-content .hero-btn {
        margin: auto;
        width: 40%;
    }

    .hero-content .hero-btn:hover {
        margin: auto;
        width: 40%;
    }


    /* IMAGES */

    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }
}